/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body  {
  margin:40px auto;
  max-width:1400px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:010px
}

h1,h2,h3  {
  line-height:1.2
}

.swowra {
  line-height:0.5;
}

header {
  text-align: justify;
  text-justify: inter-word;
}

time {
  line-height:1;
  font-size:15px;
  color:#55986e;
}

.two-columns {
  column-count: 2;
  column-gap: 20px;
  list-style-position: inside;
}

.verse {
  font-family: "Noto Sans";
  line-height:1.2;
}

.translated-chapter {
  font-style: italic;
  line-height:1;
}

pre {
  font-family: "Courier New", Courier, monospace;
}

.interlinear {
  line-height:0.3;
  background-color: #eee;
  border-left: 4px solid gray;
  padding: 7px 7px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border-radius: 7px;
  padding: 7px 7px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}